<div class="view">
    <div class="container-fluid">
        <h4>webRTC connection between peers</h4>
        <div data-ng-show="vm.trading">
            <div class="row" >
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-2">
                        <h5><i class="fa fa-volume-up"></i>&nbsp;&nbsp;{{ vm.username }}</h5>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <h5 style="font-size:10px">{{ vm.roomUUID }}</h5>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <h5>{{ vm.remoteUser }}</h5>
                    </div>
                    <div class="col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1">
                        <button class="btn btn-hangup" data-ng-click="vm.hangup()"><i class="fa fa-phone fa-rotate-90"></i></button>
                    </div>

                </div>
                <div class="col-md-12 col-lg-12">
                    <audio preload="auto" controls autoplay id="remoteAudio"></audio>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12" id="form-message">
                    <input type="text" />
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="!vm.trading">
            <h4>Waiting to the joiner...</h4>
        </div>
    </div>
</div>