<div class="view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h5>Add widget:</h5>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-add-widget" data-ng-click="vm.createSmallWidget()">8 private channels</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-add-widget" data-ng-click="">16 private channels</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-add-widget" data-ng-click="">Trader Group</button>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6" data-ng-repeat="widget in vm.smallWidgets">
                <smallwidget datasource="widget" addchanneluser="vm.addUser" widget="{{widget._id}}"></smallwidget>
             </div>
        </div>
    </div>
</div>