<div class="view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-1">
                    <h5>Add widget:</h5>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-add-widget" data-ng-click="vm.createSmallWidget()">8 private channels</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-add-widget" data-ng-click="">16 private channels</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-add-widget" data-ng-click="">Trader Group</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="btn-channel-widget">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-channel-widget pull-right">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="btn-channel-widget">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-channel-widget pull-right">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="btn-channel-widget">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-channel-widget pull-right">
                            <span class="light blink-red"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="btn-channel-widget">
                            <span class="light blink-red"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-channel-widget pull-right">
                            <span class="light"></span>
                            <span class="channel-info">Channel 1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>