/*--------- Private widget colors -----------*/
/*$main-color: #cb3837;
$dial-color: #00bf59;
$busy-color: #ffa450;
$hangup-color: #c41e3a;
$single-channel-widget-color: #4369F6;*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.channel {
  display: flex; }
  .channel .connected {
    background-color: #46575B; }

.btn-add-widget {
  background-color: #16C069;
  width: 150px;
  margin: 10px;
  color: black;
  font-weight: bold; }

.widget-btn {
  background-color: #A7A7A7;
  width: 150px;
  margin: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
  display: table;
  border: solid 1px #A7A7A7;
  transition: all 0.2s;
  border-bottom: 5px solid #434242;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative; }
  .widget-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid; }

.btn-add-user {
  background-color: #4A7699;
  width: 25px;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  display: flex; }

.light {
  display: inline-block;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  float: left;
  display: table-cell;
  -webkit-transition: box-shadow .4s ease;
  -moz-transition: box-shadow .4s ease;
  -ms-transition: box-shadow .4s ease;
  -o-transition: box-shadow .4s ease;
  transition: box-shadow .4s ease;
  -webkit-transition: background-color .1s ease;
  -moz-transition: background-color .1s ease;
  -ms-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease; }
  .widget-btn:active .light {
    -webkit-box-shadow: 0 0 10px #7AC47B, 0 0 20px #0CFF6D, 0 0 30px #30FF00, 0 0 40px #30FF00, 0 0 70px #30FF00, 0 0 80px #30FF00, 0 0 100px #30FF00, 0 0 150px #30FF00;
    -moz-box-shadow: 0 0 10px #7AC47B, 0 0 20px #0CFF6D, 0 0 30px #30FF00, 0 0 40px #30FF00, 0 0 70px #30FF00, 0 0 80px #30FF00, 0 0 100px #30FF00, 0 0 150px #30FF00;
    box-shadow: 0 0 10px #7AC47B, 0 0 20px #0CFF6D, 0 0 30px #30FF00, 0 0 40px #30FF00, 0 0 70px #30FF00, 0 0 80px #30FF00, 0 0 100px #30FF00, 0 0 150px #30FF00;
    border-radius: 15px;
    background: #00D965; }
  .light.blink-red {
    -webkit-box-shadow: 0 0 10px #F00, 0 0 20px #EC9494, 0 0 30px #B33133, 0 0 40px #B33133, 0 0 70px #B33133, 0 0 80px #B33133, 0 0 100px #B33133, 0 0 150px #B33133;
    -moz-box-shadow: 0 0 10px #F00, 0 0 20px #EC9494, 0 0 30px #B33133, 0 0 40px #B33133, 0 0 70px #B33133, 0 0 80px #B33133, 0 0 100px #B33133, 0 0 150px #B33133;
    box-shadow: 0 0 10px #F00, 0 0 20px #EC9494, 0 0 30px #B33133, 0 0 40px #B33133, 0 0 70px #B33133, 0 0 80px #B33133, 0 0 100px #B33133, 0 0 150px #B33133;
    border-radius: 15px;
    background: #DB2F43; }

.channel-info {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  color: black; }
  .connected .channel-info {
    color: white; }

.margin-left {
  margin-left: auto; }

.no-user {
  width: 100%;
  padding: 5px; }

#form-message {
  bottom: 0;
  position: absolute;
  background-color: #BFCCB9;
  padding: 10px; }
  #form-message input {
    width: 90%;
    height: 2%; }

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ECECEC; }

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
  display: none; }

.overlayContainer {
  display: none; }

.overlayBackground {
  top: 0px;
  left: 0px;
  padding-left: 100px;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #808080;
  opacity: 0.3; }

.overlayContent {
  position: absolute;
  background-color: #fff;
  font-weight: bold;
  height: 50px;
  width: 50px;
  z-index: 1000;
  text-align: center; }
