.channel {
  display: flex;
  & .connected{
    background-color: $dial-button-connected;
  }
}
.btn-add-widget {
    @include panel-control-buttons($add-widget-color, 150px, 10px, black);}

.widget-btn {
  @include dial-buttons($dial-button, 150px, 60px, 10px, black);
  @include threeD-effect();
}

.btn-add-user{
  @include add-user($add-user-color, 25px, 25px, 10px, white);
  display:flex;
}

.light {
  @include state-lamp();

  .widget-btn:active & {
    @include light-lamp($speak-list);
  }
  &.blink-red {
    @include light-lamp($listen-list);
  }
}

.channel-info{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  color: $dial-button-text;
  .connected & {
    color: $dial-button-text-connected;
  }
}

.margin-left{
  margin-left:auto;
}

.no-user {
  width: 100%;
  padding: 5px;
}

