.btn-add-widget {
    @include panel-control-buttons($add-widget-color, 150px, 10px, black);}

.btn-channel-widget {
  @include dial-buttons($dial-button, 150px, 10px, black);
  @include threeD-effect();
}

.light {
  @include state-lamp();

  .btn-channel-widget:active & {
    @include light-lamp($speak-list);
  }
  &.blink-red {
    @include light-lamp($listen-list);
  }
}

.channel-info{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  color: white;
}

