<div class="col-md-6" data-ng-repeat="button in vm.datasource.buttons">
    <div class="channel">
        <div data-ng-if="button.online != null" class="widget-btn {{button.online}}" data-id="{{button.licenceId}}" data-ng-click="vm.talk(button.position)">
            <span class="light"></span>
            <span class="channel-info">{{button.tag}}</span>
        </div>

        <div data-ng-if="button.online == null" class="widget-btn">
            <span class="light"></span>
            <span class="channel-info">{{button.tag}}</span>
        </div>

    </div>
</div>
