<div class="modal-dialog">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input type="text" data-ng-model="widgetName" placeholder="Type you widget name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-dial" align="center" data-ng-click="modalOptions.accept();"><i class="fa fa-phone" ></i> Accept</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-hangup" align="center" data-ng-click="modalOptions.reject();"><i class="fa fa-phone fa-rotate-90"></i> Reject</button>
            </div>
        </div>
    </div>
</div>